body {
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    width: 78%;
    margin: 0px auto;
    border: 2px solid bisque;
}

header .poster {
    margin: 0px auto;
    border: 2px solid red;
    background: url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    background: linear-gradient(#737275)
}

.poster-title {
    color: #FFF;
    text-align: center;
    margin: 177px 344px;

}


.section-title {
    color: #2d0fee;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
}

.section-description {
    color: hsl(353, 98%, 50%);
    text-align: center;
    font-weight: 700;
    margin-bottom: 0px;
}

.section-party {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    margin-bottom: 0px;
}

main {
    width: 78%;
    margin: 10px auto;
}

.about .about-title {
    width: 600px;
    margin-top: 15px;
    margin-left: 250px;
}

main .about-section {
    margin: 100px auto;
    border: 2px solid rgb(58, 226, 221);
    background: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    width: auto;
    height: 600px;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    background: linear-gradient(#737275) fill: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
}

.title {
    color: whitesmoke;
    font-family: Merriweather;
    margin-left: 100px;
    font-size: 80px;
    margin-top: 150px;
    font-weight: 900;
}

.title-section {
    color: beige;
    margin-left: 100px;
    font-size: 15px;
    font-weight: 400;

}

.join {
    color: #FFF;
    margin-left: 140px;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.best {
    color: crimson;
}

.portifilo {
    color: black;
    font-size: 40px;
}

.skills-container {
    display: flex;
    gap: 30px;
    border-radius: 2px solid red;

}

.about-skills {
    padding: 130px;
    border-radius: 0.625rem;
    background: #FFF8F3;
    margin: 130px 0px;
    text-align: justify;
}

.skill {
    margin-left: 39%;
}

.section-titles {
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
    margin-bottom: 25px;
    padding: 18px 35px;
}

.btn {
    color: red;

}

footer {
    display: flex;
    background: #0f0f0f;
    justify-content: space-between;
    margin-top: 50px;
    padding: 130px 200px;
}

.sections-title {
    color: #FFF;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    /* 166.667% */
}
.columns{
margin-left: 500px;
margin-top: 10px;
margin-bottom: 10px;
}
.sections-titles{
    color: red;
    margin-top: 100px;
}